<% inner_box_styles = "w-full flex justify-center p-8 bg-gray-800" %>

<%= audio_tag "raw/deadend.m4a", loop: true %>

<div class="flex justify-center bg-gray-900 p-8 w-3/4">
  <div class="flex flex-col justify-center items-center w-5/6 gap-12 text-xl">
      <div class="description <%= inner_box_styles %>">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
        </p>
      </div>

      <div class="option-buttons <%= inner_box_styles %>">
        <%= button_to "play" %>
      </div>
  </div>
</div>
